.container{
    position: relative;
}

.navItem{
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
}

.navContainer{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.currentItem{

}

.downMenu{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}